{% extends  'guide_guitare/base.html' %}

{% block body %}
    <div class="container text-center">
    <h1>Connexion</h1>
        <form class="m-5" action="" method="post">
            {% csrf_token %}
            <label for="id_username" class="mt-3" autofocus>
                Nom d'utilisateur
            </label>
            <input id="id_username" name="username" type="text" class="form-control my-1 w-25 mx-auto">

            <label for="id_password" class="mt-3">
                Mot de passe
            </label>
            <input id="id_password" name="password" type="password" class="form-control my-1 w-25 mx-auto">

            <input type="submit" class="btn btn-primary m-2" value="Connexion">
        </form>
    </div>
{% endblock %}