{% extends  'guide_guitare/base.html' %}

{% block nav %}
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'index' %}">Accueil </a>
            <a class="nav-item nav-link" href="{% url 'create_guitare' %}">Ajouter une guitare</a>
            {% if request.user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Déconnexion</a>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'connexion' %}">Connexion</a>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Modifier : </h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.errors }}
            <div class="row">
                <div class="col-4">
                    {{form.nom_guitare.label_tag}}
                    {{form.nom_guitare}}
                </div>
                <div class="col-4">
                    {{form.type_guitare.label_tag}}
                    {{form.type_guitare}}
                </div>
                <div class="col-4">
                    {{form.prix_guitare.label_tag}}
                    {{form.prix_guitare}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{form.description_guitare.label_tag}}
                    {{form.description_guitare}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{form.photo_guitare.label_tag}}
                    {{form.photo_guitare}}
                </div>
                <div class="col-6">
                    {{form.user_guitare.label_tag}}
                    {{form.user_guitare}}
                </div>
            </div>
            <button class="btn btn-warning" type="submit" name="modifier">Modifier</button>
            <button class="btn btn-danger" type="submit" name="supprimer">Supprimer</button>
        </form>
    </div>
{% endblock %}